h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #355245;
}

h2 {
  color: #648374
}

.navbar{
  padding: 0;
}

.container-fluid {
  background-color: #648374;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  color: white;
  padding: 10px;
  font-size: 1.5em;
}

.container {
  display: grid;
  place-items: center;
  min-height: 80vh;
}

.btn-home {
  border: 2px solid #648374;
  color: #355245;
  margin-top: 10px;
  width: 320px;
}

.btn-home:hover {
  background-color: #648374;
  color: white;
}
